ion-item {
    --color: #000;
    --ion-background-color: #f3f4f5;
}

ion-card {
    --color: #000;
    --ion-background-color: #f3f4f5;
}

ion-content{
    --ion-background-color: #cdd9e5;
}

ion-searchbar {
    --color: #000;
    --background: #f3f4f5;
    margin-top: 2em;
}